.services {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  max-width: 542px;
}

.services > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
  margin-top: 55px;
}

.services-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.services-list button {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #909de2;
  padding: 20px;
  padding-right: 100px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.services-list button:hover {
  background: #355efc;
  color: white;
  transition: 0.3s;
}

.services-list button:hover .service-tab div {
  background: white;
  transition: 0.3s;
}

.services-list button.active {
  border: none;
  background: #355efc;
  color: white;
}

.active .service-tab div {
  color: #355efc;
  background: white;
}

.service-tab {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.service-tab div {
  height: 3px;
  width: 36px;
  background: #000;
}

.servicesImage {
  max-width: 347px;
}

.services-experience {
  max-width: 355px;
  width: 100%;
}

.services-experience h5 {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  margin-bottom: 32px;
}

.services-experience p {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #555555;
}

.services-experience div {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.services-experience .checks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services-experience i {
  color: #355efc;
}

.contact {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.blue-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 346px;
  background: #355efc;
  z-index: -1;
}
