@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
  color: #011a41;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-width: 320px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.btn {
  position: relative;
  max-width: 100%;
  height: 44px;
  font-size: 16px;
}

.btn-white {
  background: transparent;
  padding: 10px 15px;
  color: #355efc;
  margin-bottom: 25px;
  border: 1px solid #cad2fc;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.36);
}

.btn-white:hover {
  border: 1px solid #355efc;
}

.btn-white::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 0%;
  height: 1px;
  background: #355efc;
  transition: width 0.3s linear, left 0.3s linear;
  transform: translateX(-50%);
}

.btn-white:hover::after {
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
}

.btn-blue {
  padding: 10px 25px;
  font-weight: 700;
  background: #355efc;
  color: #f5f5f5;
  margin-top: 25px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
}

.btn-blue::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 0%;
  height: 1px;
  background: #f5f5f5;
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.btn-blue:hover::after {
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
}
